.body{
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: rgb(231, 252, 232);
}
.header-bottom{
    margin-top: 50px;
}
.logo{
    width: 300px;
    height: 80px;
    margin: 30px;
}
.navigation a{
    text-decoration: none;
    margin: 50px 15px;
    color: black;
}
.sign-in{
    width: 100px;
    height: 35px;
    border-radius: 40px;
    margin: 45px 10px;
    padding-bottom: 30px;
}
.get-started{
    width: 150px;
    height: 35px;
    border-radius: 40px;
    margin: 20px 0;
    padding-bottom: 30px;
}
.motto{
    font-size: 48px;
    font-weight: bold;
}
.paragraph{
    margin: 20px 0;
}
.small-card-img{
    width: 70px;
    height: 75px;
    margin-bottom: 20px;
}
.first-card{
    align-items: center;
    padding: 30px;
    background-color:  rgb(239, 255, 251);
    border: none;
    border-radius: 5px;
}
.first-card:hover{
    background-color: white;
    box-shadow: 5px 5px 5px 5px solid black ;
}
.title{
    justify-content: center;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 40px;
}
.second-card{
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px solid black;
}
.buy-course{
    width: 150px;
    height: 35px;
    border-radius: 40px;
    margin-bottom: 30px;
}
.large-card-img{
    width: 331px;
    height: 234px;
}
.icon{
    width: 18px;
    height: 20px;
}
.red-color{
    color: red;
}
.green-color{
    color: green;
}
.bold{
    font-weight: bold;
}
.testimonial-img{
    width: 120px;
    height: 120px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 100px;
    float: left;
}
.testimonial-msg{
    margin-top: 30px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}
.footer{
    padding-top: 50px 0;
    color: white;
    background-color: #282531;
}
.bottom{
    margin-top: 50px;

}
.copyright{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(212, 209, 209);
}